<form action="/madlib">
    Name?
<input type="text" name="name">
    Color?
<input type="text" name="color">
    Noun?
<input type="text" name="noun">
    Adjective
<input type="text" name="adjective">
<input type="submit">
</form>
